body{
    background-color: #fa4454;
}

h1{
    color: white;
    font-family: 'VALORANT', sans-serif;   
    font-size: 10vw;   
    text-align: center;          
}

h6 {
    color: black;
    font-family: 'VALORANT', sans-serif;  
    text-align: center;
    margin-top: 20px;
}

#footer{
    color: white;
    font-family: 'VALORANT', sans-serif;   
    font-size: 15px;  
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    border: solid white 1px;
}

.card  {
    height: 250px;
    width: 300px;
    background-color: gainsboro;
    margin-top: 20px;
    border: solid #fa4454 3px;
 }

.guns{
    height: 100px;
    width: 350px;
}

.hover:hover h6{
    color: white;
}

.hover:hover{
    background-color: #fa4454;
}

.hover:hover p{
    color: white;
}
